include *.ini
include *.md
include *.txt
include *.yml
include .coveragerc
include .gitignore
include pylintrc
include rebase-helper.*
include Makefile
include LICENSE
include MANIFEST.in
recursive-include containers *
recursive-include docs *
global-exclude *.pyc
