recursive-include rebasehelper/tests/testing_files *
include Makefile.docker
include Makefile.podman
recursive-include docker *
include Makefile.docs
recursive-include docs *
include rebase-helper.bash.in
include CHANGELOG.md
include .gitlab-ci.yml
include .travis.yml
include .prospector.yml
